@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -"Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

#menu-toggle:checked + #menu {
  display: block;
}